{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% block background %}
        <div class="background-wrapper background-login">
            {% block background_inner %}
                {{ parent() }}
            {% endblock %}
        </div>
    {% endblock %}
    <div class="container login-wrapper">
        <div class="login-wrapper row justify-content-center align-content-start">
                <div class="logo col-12">
                   <a href='/login'>{{ source('/svgs/logo.svg')}}</a>
                </div>
            <div class="form col-12 justify-content-start flex-column d-flex form col-12 justify-content-start flex-column d-flex align-items-center">
                <div class="title-box">
                    <h1> {{ source('/svgs/cookie.svg')}} Register</h1>
                </div>
                
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="d-flex justify-content-end btn-register-wrapper flex-column align-items-end mt-4">
                        <span> Already registered? <a class='' href="{{ path('app_login') }}"> Click here to Login. </a></span>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-content">
                                <p>© 2023 All rights reserved. Copyright Joeel56 </p> 
                                <nav class="nav">
                                    <li class="navigation-link"><a href="/login"> Login </a></li>
                                    <li class="navigation-link"><a href="/register"> Register </a></li>
                                    <li class="navigation-link"><a href="/imprint"> Imprint</a></li>
                                    <li class="navigation-link"><a href="/privacy"> Privacy</a></li>
                                    <li class="navigation-link"><a href="/termsofusage"> Terms of Usage</a></li>
                                    <li class="navigation-link"><a href="/support"> Support</a></li>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
