{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% block background %}
        <div class="background-wrapper background-login">
            {% block background_inner %}
                {{ parent() }}
            {% endblock %}
        </div>
    {% endblock %}
    <div class="container login-wrapper">
        <div class="login-wrapper row justify-content-center align-content-start">
                <div class="logo col-12">
                   <a href='/login'>{{ source('/svgs/logo.svg')}}</a>
                </div>
            <div class="form col-12 justify-content-start flex-column d-flex form col-12 justify-content-start flex-column d-flex align-items-center">
                <div class="title-box">
                    <h1> {{ source('/svgs/cookie.svg')}} Register</h1>
                </div>
                
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.password) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="d-flex justify-content-end btn-register-wrapper flex-column align-items-end mt-4">
                        <a href="/privacy" class="privacy-link">Privacy Policy</a>
                        <span> Already registered? <a class='' href="{{ path('app_login') }}"> Click here to Login. </a></span>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                {{ form_end(registrationForm) }}
                <span class="social-register-span"> or sign in with </span>
                <div class="d-flex justify-content-end social-logins-wrapper social-login-register">
                    <a class="btn-google" href="{{ path('connect_google_start') }}">
                        <div class="google-content">
                            <div class="logo">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48">
                                <defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/>
                            </svg>
                            </div>
                            <p>Sign in with Google</p>
                        </div>
                    </a>
                    <a class="btn-fb" href="{{ path('connect_facebook_start') }}">
                        <div class="fb-content">
                            <div class="logo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" version="1">
                                    <path fill="#FFFFFF" d="M32 30a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h28a2 2 0 0 1 2 2v28z"/>
                                    <path fill="#4267b2" d="M22 32V20h4l1-5h-5v-2c0-2 1.002-3 3-3h2V5h-4c-3.675 0-6 2.881-6 7v3h-4v5h4v12h5z"/>
                                </svg>
                            </div>
                            <p>Sign in with Facebook</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-content">
                                <p>© 2023 All rights reserved. Copyright Joeel56 </p> 
                                <nav class="nav">
                                    <li class="navigation-link"><a href="/login"> Login </a></li>
                                    <li class="navigation-link"><a href="/register"> Register </a></li>
                                    <li class="navigation-link"><a href="/imprint"> Imprint</a></li>
                                    <li class="navigation-link"><a href="/privacy"> Privacy</a></li>
                                    <li class="navigation-link"><a href="/termsofusage"> Terms of Usage</a></li>
                                    <li class="navigation-link"><a href="/support"> Support</a></li>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
